<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AvaSchedule</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/signin.css">
</head>
<nav class="navbar navbar-inverse bg-light">
  <div class="container">
    <span class="ava">AvaSchedule</span>
    <img src="/images/novo.iix" alt="" width="160" height="44">
  </div>
</nav>
<div style="margin-left: 40px;">
  <% if(id_cliente_select==1){ %>
    <a href="/logado/selecionar">
      <img src="/images/icons/home.svg" alt="home" width="50" height="44">
    </a>
    <% }else{ %>
      <a href="/logado/vm/listing" class="btn btn-outline-danger btn-sm">
        <img src="/images/icons/voltar.svg" alt="voltar" width="40" height="44">
      </a>
      <a href="/logado/selecionar" class="btn btn-outline-danger btn-sm">
        <img src="/images/icons/home.svg" alt="home" width="40" height="44">
      </a>
      <% } %>
</div>
<body class="cinza">
  <main>
    <section class="text-center">
      <h1>Registrar VM</h1>
      <p style="color: red;"><b>*BOTÕES</b></p>
      <p><b style="color: blue;">Azul:</b>Ligado <b style="color: gray;">Cinza:</b>Desligado</p>
      <form class="container" action="/logado/vm/criar" method="POST">
        <div class="row g-3">
          <div class="input-group flex-nowrap ">
            <span class="input-group-text"><b><abbr title="Cliente dono da VM">Cliente*:</abbr></b></span>
            <select name="cliente_id" class="form-control form-select" required>
              <option value="" disabled selected>Selecionar cliente</option>
              <% for( let cliente of clientes) { %>
                <option value="<%= cliente.id %> ">
                  <%= cliente.nome %>
                </option>
                <% } %>
            </select>
          </div>
          <div class="col-md-2">
            <label class="form-label"><b><abbr title="Nome do servidor"> Computer Name </abbr></b></label>
            <input type="text" name="computer_name" class="form-control" >
          </div>
          <div class="col-md-2">
            <label class="form-label"><b><abbr title="Nome da VM como está cadastrado na Azure">Vm Azure* </abbr></b></label>
            <input type="text" name="vm_azure" class="form-control" required>
          </div>

          <div class="col-md-2">
            <label class="form-label"><b> <abbr title="IP da VM.">IP*</abbr></b></label>
            <input type="text" name="ip" class="form-control" required>
          </div>
          <div class="col-md-2">
            <label class="form-label"><b> <abbr title="Nome do AutomationAccount que será usado (definido na implementação).">Automation*</abbr></b></label>
            <input type="text" class="form-control" name="automation" required>
          </div>

          <div class="col-md-2">
            <label class="form-label"><b><abbr title="Qual a funcionalidade da VM (opcional).">Functionality</abbr></b></label>
            <input type="text" name="functionality" class="form-control">
          </div>

          <div class="col-md-2">
            <label class="form-label"><b><abbr title="Campo para comentário curto (opcional)."> Request </abbr></b></label>
            <input type="text" name="request" class="form-control">
          </div>

          <div class="col-md-3">
            <label class="form-label"><b><abbr title="Sistema Operacional da VM">System Operation*</abbr></b></label>
            <select name="system_operation" id="appearance-select" class="form-select" required>
              <option value="" disabled selected>selecionar System Operation</option>
              <option value="WIN">WINDOWS</option>
              <option value="LNX">LINUX</option>
            </select>
          </div>

          <div class="col-md-3 env">
            <label class="form-label"><b><abbr title="Ambiente da VM ">Environment*</abbr></b></label>
            <select class="form-select" name="environment" required>
              <option value="" disabled selected>selecionar Environment</option>
              <option value="PRD">PRD</option>
              <option value="DEV">DEV</option>
              <option value="QAS">QAS</option>
              <option value="HML">HML</option>
            </select>
          </div>

          <div class="col-md-3 sbd">
            <label class="form-label"><b><abbr title="Quando selecionado, não será possivel escolher um START e STOP MODE da VM 
              e o horário de funcionamento fica sob demanda do cliente"> Sob Demanda*</abbr></b></label>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" name="onSobDemanda" id="flexSwitchCheckChecked">
              <label class="form-check-label" for="flexSwitchCheckChecked">  OFF/ON VM Sob Demanda</label>
            </div>
          </div>

          <div class="col-md-2">
            <label class="form-label"><b><abbr title="Selecione o modo de start">Start Mode*</abbr></b></label>
            <select name="start_mode" class="form-select">
              <option value="" disabled selected>selecionar START MODE</option>
              <option value="None"> None</option>
              <option value="Automation">Automation</option>
              <!-- <option value="Sob_Demanda">Sob_Demanda</option> -->
            </select>
          </div>

          <div class="col-md-2">
            <label class="form-label"><b><abbr title="Selecione o modo de stop ">Stop Mode*</abbr></b></label>
            <select name="stop_mode" class="form-select">
              <option value="" disabled selected>selecionar STOP MODE</option>
              <option value="None"> None</option>
              <option value="Automation">Automation</option>
              <!-- <option value="Sob_Demanda">Sob_Demanda</option> -->
              <option value="AutoShutdown">AutoShutdown</option>
            </select>
          </div>

          <div class="col-md-2 ">
            <br>
            <br>
            <br>
            <h5><b>START:</b></h5>
            <h5><b>STOP:</b></h5>
          </div>

          <div class="col-md-2 tho">
            <label class="form-label"><b> Sunday* </b></label>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" name="onSunday" id="flexSwitchCheckChecked" checked>
              <label class="form-check-label" for="flexSwitchCheckChecked">OFF/ON</label>
            </div>
            <input class="form-control" type="time" name="sunday1" value="hora inicio">
            <input class="form-control" type="time" name="sunday2" value="hora fim">
          </div>

          <div class="col-md-2 tho">
            <label class="form-label"><b> Monday* </b></label>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" name="onMonday" id="flexSwitchCheckChecked" checked>
              <label class="form-check-label" for="flexSwitchCheckChecked">OFF/ON</label>
            </div>
            <input class="form-control" type="time" name="monday1" value="hora inicio">
            <input class="form-control" type="time" name="monday2" value="hora fim">
          </div>

          <div class="col-md-2 tho">
            <label class="form-label"><b> Tuesday* </b></label>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" name="onTuesday" id="flexSwitchCheckChecked" checked>
              <label class="form-check-label" for="flexSwitchCheckChecked">OFF/ON</label>
            </div>
            <input class="form-control" type="time" name="tuesday1" value="hora inicio">
            <input class="form-control" type="time" name="tuesday2" value="hora fim">
          </div>

          <div class="col-md-2 tho">
            <label class="form-label"><b> Wednesday* </b></label>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" name="onWednesday" id="flexSwitchCheckChecked" checked>
              <label class="form-check-label" for="flexSwitchCheckChecked">OFF/ON</label>
            </div>
            <input class="form-control" type="time" name="wednesday1" value="hora inicio">
            <input class="form-control" type="time" name="wednesday2" value="hora fim">
          </div>

          <div class="col-md-2 tho">
            <label class="form-label"><b>Thursday* </b></label>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" name="onThursday" id="flexSwitchCheckChecked" checked>
              <label class="form-check-label" for="flexSwitchCheckChecked">OFF/ON</label>
            </div>
            <input class="form-control" type="time" name="thursday1" value="hora inicio">
            <input class="form-control" type="time" name="thursday2" value="hora fim">
          </div>

          <div class="col-md-2 tho">
            <label class="form-label"><b> Friday* </b></label>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" name="onFriday" id="flexSwitchCheckChecked" checked>
              <label class="form-check-label" for="flexSwitchCheckChecked">OFF/ON</label>
            </div>
            <input class="form-control" type="time" name="friday1" value="hora inicio">
            <input class="form-control" type="time" name="friday2" value="hora fim">
          </div>

          <div class="col-md-2 tho">
            <label class="form-label"><b> Saturday* </b></label>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" name="onSaturday" id="flexSwitchCheckChecked" checked>
              <label class="form-check-label" for="flexSwitchCheckChecked">OFF/ON</label>
            </div>
            <input class="form-control" type="time" name="saturday1" value="hora inicio">
            <input class="form-control" type="time" name="saturday2" value="hora fim">
          </div>

          <div class="col-17">
            <button class="btn btn-danger" type="submit" style="margin: 3rem;"
              onclick="return confirm('Deseja criar esse registro ?')">Registrar</button>
          </div>
        </div>
      </form>
    </section>
  </main>
</body>

</html>