<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AvaSchedule</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/signin.css">
</head>

<nav class="navbar navbar-inverse bg-light">
  <div class="container">
    <span class="ava">AvaSchedule</span>
    <a class="navbar-brand" href="#">
      <img src="/images/novo.iix" alt="" width="160" height="44">
    </a>
  </div>
</nav>
 
<body class="text-center">
  
  <main class="form-signin">
    <form  action="logado/loguin" method="POST">
      <h1 class="h3 mb-3 fw-normal"> Sign in</h1>

      <div class="form-floating">
        <input type="email" name="email" class="form-control" id="floatingInput" placeholder="Digite seu e-mail">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" name="senha" class="form-control" id="floatingPassword" placeholder="Digite sua senha">
        
        <label for="floatingPassword">Password</label>
      </div>

      <button class="w-100 btn btn-lg btn-danger" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
    </form>
  </main>
  
  </body>

</html>